In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('weather_data.csv')
df

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017          NaN        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
6   1/9/2017          NaN        NaN     NaN
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [4]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [9]:
type(df.day[0])

str

In [13]:
#at first day is in string now we are converting day to "dates" data type
df=pd.read_csv('weather_data.csv',parse_dates=['day'])
df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [12]:
print(type(df.day[0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [14]:
df.set_index('day',inplace=True)
df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-09          NaN        NaN     NaN
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [15]:
#reaplacing NaN value
#1
new_df=df.fillna(0)
new_df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          0.0        9.0   Sunny
2017-01-05         28.0        0.0    Snow
2017-01-06          0.0        7.0       0
2017-01-07         32.0        0.0    Rain
2017-01-08          0.0        0.0   Sunny
2017-01-09          0.0        0.0       0
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [18]:
#sometimes 0 is not suitable example in event it make no sense so we do 
new_df=df.fillna({
    'temperature':0,
    'windspeed':0,
    'event':'no event'
})
new_df

            temperature  windspeed     event
day
2017-01-01         32.0        6.0      Rain
2017-01-04          0.0        9.0     Sunny
2017-01-05         28.0        0.0      Snow
2017-01-06          0.0        7.0  no event
2017-01-07         32.0        0.0      Rain
2017-01-08          0.0        0.0     Sunny
2017-01-09          0.0        0.0  no event
2017-01-10         34.0        8.0    Cloudy
2017-01-11         40.0       12.0     Sunny

In [22]:
#if this is also not accepted we can estimate by calcuationg mean, median bvlablalb
#we can also do ffill
new_df=df.fillna(method="ffill")  # yesley chai aagadi ko value j xa teslai copy garey rakdinxa example temperature at first is 32 so second ma NaN ko place ma ni 32 nai rakhxa
# new_df=df.fillna(method="bfill") this oppisite of ffill bhanko backward value fill garxa
new_df

C:\Users\atulm\AppData\Local\Temp\ipykernel_15176\3154824868.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  new_df=df.fillna(method="ffill")

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04         32.0        9.0   Sunny
2017-01-05         28.0        9.0    Snow
2017-01-06         28.0        7.0    Snow
2017-01-07         32.0        7.0    Rain
2017-01-08         32.0        7.0   Sunny
2017-01-09         32.0        7.0   Sunny
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [23]:
new_df=df.fillna(method="bfill",axis="columns") # it is copying value from it's same row i.e horizontally
new_df

C:\Users\atulm\AppData\Local\Temp\ipykernel_15176\486552262.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  new_df=df.fillna(method="bfill",axis="columns")
C:\Users\atulm\AppData\Local\Temp\ipykernel_15176\486552262.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  new_df=df.fillna(method="bfill",axis="columns")

           temperature windspeed   event
day
2017-01-01        32.0       6.0    Rain
2017-01-04         9.0       9.0   Sunny
2017-01-05        28.0      Snow    Snow
2017-01-06         7.0       7.0     NaN
2017-01-07        32.0      Rain    Rain
2017-01-08       Sunny     Sunny   Sunny
2017-01-09         NaN       NaN     NaN
2017-01-10        34.0       8.0  Cloudy
2017-01-11        40.0      12.0   Sunny

In [28]:
new_df=df.fillna(method='ffill',limit=1)
new_df

C:\Users\atulm\AppData\Local\Temp\ipykernel_15176\3748445539.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  new_df=df.fillna(method='ffill',limit=1)

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04         32.0        9.0   Sunny
2017-01-05         28.0        9.0    Snow
2017-01-06         28.0        7.0    Snow
2017-01-07         32.0        7.0    Rain
2017-01-08         32.0        NaN   Sunny
2017-01-09          NaN        NaN   Sunny
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [32]:
#we can also do interpolate (Linear Interpolation) This is one of the better guess
new_df = df.interpolate()

# Now replace NaNs in the 'event' column with 0 (string or number depending on data type)
new_df['event'] = df['event'].fillna(0)

# Print final DataFrame
new_df

C:\Users\atulm\AppData\Local\Temp\ipykernel_15176\1430905751.py:2: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  new_df = df.interpolate()

            temperature  windspeed   event
day
2017-01-01    32.000000       6.00    Rain
2017-01-04    30.000000       9.00   Sunny
2017-01-05    28.000000       8.00    Snow
2017-01-06    30.000000       7.00       0
2017-01-07    32.000000       7.25    Rain
2017-01-08    32.666667       7.50   Sunny
2017-01-09    33.333333       7.75       0
2017-01-10    34.000000       8.00  Cloudy
2017-01-11    40.000000      12.00   Sunny

In [33]:
new_df = df.interpolate(method='time')
new_df #this is more reliable i.e it calculate with time

C:\Users\atulm\AppData\Local\Temp\ipykernel_15176\3316049018.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  new_df = df.interpolate(method='time')

            temperature  windspeed   event
day
2017-01-01    32.000000       6.00    Rain
2017-01-04    29.000000       9.00   Sunny
2017-01-05    28.000000       8.00    Snow
2017-01-06    30.000000       7.00     NaN
2017-01-07    32.000000       7.25    Rain
2017-01-08    32.666667       7.50   Sunny
2017-01-09    33.333333       7.75     NaN
2017-01-10    34.000000       8.00  Cloudy
2017-01-11    40.000000      12.00   Sunny

In [36]:
#drop all rows with na values
new_df=df.dropna() # this delete all the row with at least one Na values
neww_df=df.dropna(how='all') # this delete only the row with all Na values
print(neww_df)
new_df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [41]:
n_df = new_df.drop('event',axis=1)
n_df
# #✅ axis=1 means:
# "I want to drop a column."

# ❌ axis=0 would mean:
# "I want to drop a row."

            temperature  windspeed
day
2017-01-01         32.0        6.0
2017-01-10         34.0        8.0
2017-01-11         40.0       12.0

In [43]:
import numpy as np
df=pd.read_csv('newweather.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017       -99999          7  Sunny
2  1/3/2017           28     -99999   Snow
3  1/4/2017       -99999          7      0
4  1/5/2017           32     -99999   Rain
5  1/6/2017           31          2  Sunny
6  1/6/2017           34          5      0

In [48]:
new_df=df.replace([-99999,-8888],np.NaN)
new_df

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017          NaN        7.0  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        7.0      0
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0      0

In [55]:
#to replace value based on the column we use dictionary (#note this is more cleaner )
new_df=df.replace({
    'temperature':-99999,
    'windspeed':-99999,
    'event':'No event'
},np.NaN)
new_df

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017          NaN        7.0  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        7.0      0
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0      0

In [58]:
new_df=df.replace({
    -99999:np.NaN,
   
})
new_df

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017          NaN        7.0  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        7.0      0
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0      0

In [ ]:
# Another method is using Regular expresssion

In [59]:
data = {
    'name': ['Atulya', 'Rina', 'John', 'Meena', 'David'],
    'score': ['exception', 'good', 'bad', 'exception', 'good']
}

# Convert dictionary to DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

     name      score
0  Atulya  exception
1    Rina       good
2    John        bad
3   Meena  exception
4   David       good

In [60]:
#here score should be in number so we replace it
new_df=df.replace(['exception', 'good', 'bad', 'exception'],[5,3,1,2])
new_df

C:\Users\atulm\AppData\Local\Temp\ipykernel_15176\1500936769.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  new_df=df.replace(['exception', 'good', 'bad', 'exception'],[5,3,1,2])

     name  score
0  Atulya      5
1    Rina      3
2    John      1
3   Meena      5
4   David      3

In [61]:
#extra example
data = {
    'name': ['Atulya', 'Rina', 'John', 'Meena', 'David'],
    'score': ['exception', 'good', 'bad', 'exception', 'good']
}

df = pd.DataFrame(data)

# Split
name_col = df['name']
score_col = df['score']

# Operation: Convert scores to uppercase
score_col = score_col.str.upper()

# Merge back
new_df = pd.concat([name_col, score_col], axis=1)

print(new_df)

     name      score
0  Atulya  EXCEPTION
1    Rina       GOOD
2    John        BAD
3   Meena  EXCEPTION
4   David       GOOD

In [4]:

new_data={
"Name":["Atullya","Pukar"],
"College":["NCCS","NCCS1"]
}

new_dataframe=pd.DataFrame(new_data)
new_dataframe

      Name College
0  Atullya    NCCS
1    Pukar   NCCS1

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [ ]:
df = pd.read_csv("weather_data.csv")
df

In [71]:
new_df=df.fillna(method='ffill')
new_df

C:\Users\atulm\AppData\Local\Temp\ipykernel_316\1317224737.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  new_df=df.fillna(method='ffill')

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017         32.0        9.0   Sunny
2   1/5/2017         28.0        9.0    Snow
3   1/6/2017         28.0        7.0    Snow
4   1/7/2017         32.0        7.0    Rain
5   1/8/2017         32.0        7.0   Sunny
6   1/9/2017         32.0        7.0   Sunny
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [ ]:
interpolate_df=pd.interpolate()
print(interpolate_df)

In [80]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)
x_train
y_train

4    7.0
7    8.0
6    7.0
2    9.0
1    9.0
3    7.0
0    6.0
Name: windspeed, dtype: float64

In [82]:
x_train = new_df[['temperature']]  # Double brackets → DataFrame shape
y_train = new_df['windspeed']      # Single bracket → Series shape
# print(x_train)
# print(y_train)
reg.fit(x_train, y_train)

LinearRegression()

In [83]:
reg.predict([[40]])

C:\Users\atulm\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([10.5])

In [86]:
reg.score(x_test,y_test)

C:\Users\atulm\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

0.09183673469387743