In [4]:
import pandas as pd
df=pd.read_csv('nyc_weather.csv')
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   EST                   31 non-null     object
 1   Temperature           31 non-null     int64
 2   DewPoint              31 non-null     int64
 3   Humidity              31 non-null     int64
 4   Sea Level PressureIn  31 non-null     float64
 5   VisibilityMiles       31 non-null     int64
 6   WindSpeedMPH          28 non-null     float64
 7   PrecipitationIn       31 non-null     object
 8   CloudCover            31 non-null     int64
 9   Events                9 non-null      object
 10  WindDirDegrees        31 non-null     int64
dtypes: float64(2), int64(6), object(3)
memory usage: 2.8+ KB

In [6]:
df['EST'][df['Events']=='Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [9]:
df.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [11]:
df.fillna(0,inplace=True) #WindSpeedMPH ma NaN lai 0 ley replace garxa
df['WindSpeedMPH'].mean()

6.225806451612903

In [ ]:
#The process of cleaning messy data is called data munging

## Introuction to Dataframe

#### Dataframe is the main object in pandas. It is used to represent data in rows and columnds

In [12]:
import pandas as pd
df = pd.read_csv('nyc_weather.csv')
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [13]:
df['Temperature'].max()

50

In [15]:
print(df.columns)

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

In [16]:
df.shape

(31, 11)

In [17]:
rows,columns=df.shape
print(rows)
print(columns)

31
11

In [ ]:
df.tail() #last 5 row and df.head() -> it  print first 5 indexes

In [18]:
df[2:5]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [20]:
df['Humidity'] #df.Humidity

0     52
1     46
2     47
3     44
4     41
5     35
6     33
7     64
8     77
9     71
10    37
11    53
12    42
13    47
14    62
15    70
16    66
17    53
18    42
19    49
20    45
21    41
22    78
23    53
24    54
25    56
26    45
27    51
28    50
29    46
30    52
Name: Humidity, dtype: int64

In [21]:
type(df.Humidity)

pandas.core.series.Series

In [26]:
df[['Temperature', 'Humidity']]

    Temperature  Humidity
0            38        52
1            36        46
2            40        47
3            25        44
4            20        41
5            33        35
6            39        33
7            39        64
8            44        77
9            50        71
10           33        37
11           35        53
12           26        42
13           30        47
14           43        62
15           47        70
16           36        66
17           25        53
18           22        42
19           32        49
20           31        45
21           26        41
22           26        78
23           28        53
24           34        54
25           43        56
26           41        45
27           37        51
28           36        50
29           34        46
30           46        52

In [27]:
df.describe() #to print statistics

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,CloudCover,WindDirDegrees
count,31.000000,31.000000,31.000000,31.000000,31.000000,28.000000,31.000000,31.000000
mean,34.677419,17.838710,51.677419,29.992903,9.193548,6.892857,3.129032,247.129032
std,7.639315,11.378626,11.634395,0.237237,1.939405,2.871821,2.629853,92.308086
min,20.000000,-3.000000,33.000000,29.520000,1.000000,2.000000,0.000000,34.000000
25%,29.000000,10.000000,44.500000,29.855000,9.000000,5.000000,1.000000,238.000000
50%,35.000000,18.000000,50.000000,30.010000,10.000000,6.500000,3.000000,281.000000
75%,39.500000,23.000000,55.000000,30.140000,10.000000,8.000000,4.500000,300.000000
max,50.000000,46.000000,78.000000,30.570000,10.000000,16.000000,8.000000,345.000000

In [31]:
df[df.Temperature <22] # this means like select * from table where Temperature<22

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [32]:
df[df.Temperature== df['Temperature'].max()]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109

In [40]:
df[['EST','DewPoint']][df.Temperature == df['Temperature'].max()]

         EST  DewPoint
9  1/10/2016        46

In [39]:
df['EST'][df.Events=='Rain'] #df['EST'][df.['Events']=='Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [41]:
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [43]:
df.index

RangeIndex(start=0, stop=31, step=1)

In [50]:
df.set_index('EST',inplace=True) #inplace True garyo bhanne new df ma EST bhanney naya index banxa garyena bhanney original df update hudaina

In [51]:
#before our index was 0,1,2,3 now it's day now after doing this we can do
df.loc['1/1/2016']

Temperature                38
DewPoint                   23
Humidity                   52
Sea Level PressureIn    30.03
VisibilityMiles            10
WindSpeedMPH              8.0
PrecipitationIn             0
CloudCover                  5
Events                    NaN
WindDirDegrees            281
Name: 1/1/2016, dtype: object

In [53]:
df.reset_index(inplace=True)
df

,index,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

Different Ways of creating DataFrame
- csv
- excel
- dictionary
- use tuple list

In [ ]:
# import pandas as pd
# df=pd.read_csv('name')
# df=pd.read_excel('name')

In [57]:
weather_data={
    "day":['1/22/2016','1/25/2016','12/22/2016'],
    "temperature":[34,53,11],
    "windspeed":[33,54,33],
    "Events":['Rain','Sunny','Snow']
}
df=pd.DataFrame(weather_data)
print(df)

          day  temperature  windspeed Events
0   1/22/2016           34         33   Rain
1   1/25/2016           53         54  Sunny
2  12/22/2016           11         33   Snow

In [58]:
# List of tuples
data = [
    ("Alice", 24, "USA"),
    ("Bob", 30, "UK"),
    ("Charlie", 22, "India")
]

# Create DataFrame
df = pd.DataFrame(data, columns=["Name", "Age", "Country"]) # yo case ma we must assign column name

print(df)

      Name  Age Country
0    Alice   24     USA
1      Bob   30      UK
2  Charlie   22   India

In [59]:
# List of dictionaries
data = [
    {"Name": "Alice", "Age": 24, "Country": "USA"},
    {"Name": "Bob", "Age": 30, "Country": "UK"},
    {"Name": "Charlie", "Age": 22, "Country": "India"}
]

# Create DataFrame
df = pd.DataFrame(data)

print(df)

      Name  Age Country
0    Alice   24     USA
1      Bob   30      UK
2  Charlie   22   India

## Read/Write Opeartion in CSV/Excel

In [65]:
df=pd.read_csv('nyc_weather.csv',header=0)
df
## Use 2nd row as header (skipping the first info row)
# df = pd.read_csv('data.csv', header=1)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [66]:
df=pd.read_csv('nyc_weather.csv',nrows=2)
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7,0,3,NaN,275

In [68]:
# Read the CSV file, treating "NaN" and "atulya" as NaN values
df = pd.read_csv('nyc_weather.csv', na_values=["NaN", "atulya"])

# Replace all NaN values with your name
df_filled = df.fillna("Atulya")
df_filled

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,Atulya,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,Atulya,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,Atulya,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,Atulya,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,Atulya,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,Atulya,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,Atulya,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,Atulya,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,Atulya,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,Atulya,0,1,Atulya,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,Atulya,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,Atulya,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,Atulya,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,Atulya,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,Atulya,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,Atulya,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,Atulya,312
21,1/22/2016,26,6,41,30.21,9,Atulya,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,Atulya,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,Atulya,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,Atulya,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,Atulya,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,Atulya,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,Atulya,241

In [70]:
# Read the CSV file, treating "NaN" and "atulya" as NaN values
df = pd.read_csv('nyc_weather.csv', na_values={
     "DewPoint":["NaN", "atulya",-3]    #we can even use dictionary to specify particular column example if sale is in negative which it can't be we can change it to NAN doing like this
    
})

# Replace all NaN values with your name
df_filled = df.fillna("Atulya")
df_filled

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23.0,52,30.03,10,8.0,0,5,Atulya,281
1,1/2/2016,36,18.0,46,30.02,10,7.0,0,3,Atulya,275
2,1/3/2016,40,21.0,47,29.86,10,8.0,0,1,Atulya,277
3,1/4/2016,25,9.0,44,30.05,10,9.0,0,3,Atulya,345
4,1/5/2016,20,Atulya,41,30.57,10,5.0,0,0,Atulya,333
5,1/6/2016,33,4.0,35,30.50,10,4.0,0,0,Atulya,259
6,1/7/2016,39,11.0,33,30.28,10,2.0,0,3,Atulya,293
7,1/8/2016,39,29.0,64,30.20,10,4.0,0,8,Atulya,79
8,1/9/2016,44,38.0,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46.0,71,29.59,4,Atulya,1.8,7,Rain,109
10,1/11/2016,33,8.0,37,29.92,10,Atulya,0,1,Atulya,289
11,1/12/2016,35,15.0,53,29.85,10,6.0,T,4,Atulya,235
12,1/13/2016,26,4.0,42,29.94,10,10.0,0,0,Atulya,284
13,1/14/2016,30,12.0,47,29.95,10,5.0,T,7,Atulya,266
14,1/15/2016,43,31.0,62,29.82,9,5.0,T,2,Atulya,101
15,1/16/2016,47,37.0,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23.0,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6.0,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3.0,42,30.03,10,11.0,0,1,Atulya,293
19,1/20/2016,32,15.0,49,30.13,10,6.0,0,2,Atulya,302
20,1/21/2016,31,11.0,45,30.15,10,6.0,0,1,Atulya,312
21,1/22/2016,26,6.0,41,30.21,9,Atulya,0.01,3,Snow,34
22,1/23/2016,26,21.0,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11.0,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18.0,54,30.25,10,3.0,0,2,Atulya,286
25,1/26/2016,43,29.0,56,30.03,10,7.0,0,2,Atulya,244
26,1/27/2016,41,22.0,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20.0,51,29.90,10,5.0,0,1,Atulya,234
28,1/29/2016,36,21.0,50,29.58,10,8.0,0,4,Atulya,298
29,1/30/2016,34,16.0,46,30.01,10,7.0,0,0,Atulya,257
30,1/31/2016,46,28.0,52,29.90,10,5.0,0,0,Atulya,241

In [72]:
#writing back to csv file
df.to_csv('new.csv')
# df.to_csv('new.csv',index=False) #This create a new csv file witout any Index
# df.to_csv('new.csv',columns=['Temperature','Humidity'] # This creates a new csv file with only two column in it